* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 194, 113);
    font-family: 'Ubuntu', sans-serif;
}

.hide {
    display: none;
} 

.landing,
.endgame {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 2em;
    width: 640px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
}

.landing h1,
.endgame h1 {
    letter-spacing: 6px;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.difficulty {
    border: 10px dashed black;
    border-radius: 40px 18px 40px 18px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.difficulty-description {
    margin-bottom: 0.7em;
    font-size: 1.5em;
    font-weight: 700;
}

.difficulty-buttons-container {
    display: flex;
    width: 100%;
}

.difficulty-btn {
    background: none;
    border: 3px solid black;
    border-radius: 4px;
    margin: 2px;
    padding: 0.4em;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px; 
    cursor: pointer;
}

.difficulty-btn:active {
    transform: scale(0.95);
    transition: transform .2s; 
}

.easy:hover,
.resetBtn:hover {
    background-color: rgb(115, 206, 58);
    border-color: rgb(62, 116, 29); 
}

.medium:hover {
    background-color: rgb(226, 192, 53);
    border-color: rgb(138, 117, 33);
}

.hard:hover {
    background-color: rgb(206, 33, 33);
    border-color: rgb(107, 0, 0);
}

.memory-board {
    border: 2px solid limegreen;
    border-radius: 10px;
    width: 640px;
    height: 640px;
    margin: 3% auto;
    margin-bottom: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /*3D EFFECT*/
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    /*3D EFFECT*/
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 16px;
    position: absolute;
    border: 2px solid purple;
    border-radius: 6px;
    background-color: rgb(24, 24, 24);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.current-game-info {
    width: 640px;
    height: 100px;
    margin: auto;
    background-color: brown;
    display: flex;
    justify-content: space-around;
}

.current-game-info p {
    padding-top: 20px;
    font-size: 1.5em;
    font-weight: 700; 
}

.resetBtn {
    width: 70%;
    border: 3px solid black;
    border-radius: 4px;
    margin: 2px;
    padding: 0.4em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px; 
    cursor: pointer;
}
